@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  src: url("./Fonts/Satoshi-Variable.ttf");
  font-family: Satoshi;
}
@font-face {
  src: url("./Fonts/Satoshi-VariableItalic.ttf");
  font-family: SatoshiItalic;
}

:root {
  --primary-bg-black: #141414;
  --primary-text-black: #2c2c2c;
  --primary-green: #2d6a4f;
  --highlight-green: #2ec4b6;
  --primary-blue: #003f88;
  --primary-light-blue: #7eb2ef;
  --primary-border: #e4e4e4;

  --gray-1: #fbfbfb;
  --gray-2: #f2f2f2;
  --gray-3: #d9d9d9;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--gray-2);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.1rem;
  background: #b9b9b9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Satoshi";
  //background-color: var(--primary-bg);
  background-color: #ffffff;
  overflow-x: hidden;
}
